.announcement {
    background-color: var(--color-base-dark);
}

.announcement__link {
    display: block;
    padding: 5px 0;
    font-size: 1.4rem;
    transition: all 0.2s;
    text-decoration: none;
    color: rgba(255, 255, 255, .65);
}

.announcement__link:hover {
    color: rgba(255, 255, 255, .8);
}