/* Global collections card */

.collection-item {
    margin: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
}

.collection-item__image img {
    width: 100%;
    display: block;
    /*border-radius: var(--border-radius-sm);*/
}

.collection-item__details {
    z-index: 1;
    padding: 20px 15px;
    text-align: center;
    position: relative;
}

.collection-item__title {
    font-size: 2.2rem;
    transition: all 0.3s;
    text-decoration: none;
    color: var(--color-base-text);
}

.collection-item__description {
    font-size: 1.4rem;
    color: rgba(255,255,255, 0.9);
}

.collection-item__details .button {
    margin: 15px auto 0;
}


/* Large collections */

.collections {
    padding: 10px 0;
    background-color: #fff7eb;
}
.collection__item {
    display: flex;
    margin: 80px 0;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: #ffffff;
}

.collection__item-image_left .collection__image {
    order: 2;
}


.collection__item-image_left .collection__content {
    text-align: right;
    justify-content: flex-end;
}

.collection__image {
    width: 50%;
    height: 500px;
    background: no-repeat center;
    background-size: cover;
}

.collection__content {
    width: 50%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.collection__title {
    width: 100%;
    font-weight: 600;
    font-size: 2.4rem;
}

.collection__description {
    width: 100%;
    margin: 10px 0 20px;
}