/* Home categories section */

.home-categories {
    position: relative;
    z-index: 1;
    padding: 80px 0;
}

.main-categories__wrapper {
    width: 100%;
    display: flex;
}

.main-categories__item {
    width: calc(100%/4);
    padding-right: 20px;
}

.main-categories__link {
    padding: 15px;
    display: block;
    position: relative;
    text-decoration: none;
    background-color: #fff;
    transition: all 0.2s;
    border: 1px solid var(--color-border);
    /*border-radius: var(--border-radius-md);*/
    box-shadow: var(--shadow-hover) rgba(var(--color-border-rgb), 0.5);
}

.main-categories__link img {
    display: block;
    max-width: 100%;
    /*border-radius: var(--border-radius-md);*/
}

.main-categories__link p {
    text-align: center;
    transition: all 0.2s;
    color: var(--color-base-dark);
    position: absolute;
    background: #fff;
    bottom: 30px;
    padding: 10px;
    width: calc(100% - 60px);
    left: 0;
    right: 0;
    margin: auto;
}

.main-categories__link:hover {
    border-color: rgba(0,0,0, 0.5);
    /*box-shadow: var(--shadow-hover) rgba(var(--color-primary-rgb), 0.5);*/
}

.main-categories__link:hover p {
    color: var(--color-primary);
}