.text-field input {
    width: 100%;
    height: 44px;
    font-size: 1.4rem;
    line-height: 44px;
    transition: all .2s;
    font-family: var(--font-body-family);
    padding: 0 calc(var(--spacing-unit-md));
    border: 1px solid var(--color-border);
}

.text-field input:focus {
    border-color: rgba(var(--color-primary-rgb), .5);
    box-shadow: var(--shadow-hover) rgba(var(--color-primary-rgb), .15);
}